# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules

# Production output
dist
dist-ssr

# Environment
.env
.env.*
!.env.example

# Testing
coverage
*.tsbuildinfo

# Editor directories
.vscode/*
.idea
.DS_Store